.app__nav-btn {
  background-color: #c56622;
  border: none;
  width: 10rem;
  height: 100%;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
  padding: 0.5rem 0;
  margin: auto 0.5rem;
  color: white;
  font-weight: 500;

  &:hover {
    background-color: #af5b1e;
  }
}
