@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");

body {
  font-family: "Open Sans", sans-serif !important;
}

.app__dashboard-btns {
  border: none;
  background-color: #c56622;
  color: white;
  font-weight: 500;
  width: 9rem;
  padding: 0.4rem 0.3rem;
  position: relative;
  z-index: 5;
}
.app__dashboard-btns:hover {
  background-color: #af5b1e;
}
/* #e8e3da */

.app__dashboard-navLinks {
  margin: 0 0.5rem;
  border: none;
  background-color: transparent;
  letter-spacing: 0.1rem;
}

.app__dashboard-navLinks:hover {
  text-decoration: underline;
}
